
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
  --nav-light-color: #C2E2F5;
  --header-light-bg-color: #FFD5E3;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;

  height: 100%;
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #181818;
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: #ECD8E7;
    background-image: linear-gradient(#ECD8E7 0%, #D6DDEE 100%);
    color: black;
  }
}

@media(orientation: landscape) {
  html,
  body {
    display: none;
  }
}